<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>выбор ворот</title>
</head>

<body>
<div style="text-align: center;">
    <h1> Вы можете осмотреть лучшие ворота мира!</h1>
    <ul>
        <h3> Королевские ворота : </h3>
        <img src="https://avatars.mds.yandex.net/get-entity_search/98893/1015608627/S600xU_2x"
             alt="Королевские ворота" width="200 height=150 ">
        <p>
            <button><a href="http://127.0.0.1:8000/basket">
                 Выбрать
            </a>
            </button>
        </p>
        <h3> Бранденбургские ворота : </h3>
        <img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65bbdc7bc98f73093ab495ee_65bbff6f174f4222112e1aa7/scale_1200"
             alt="Бранденбургские ворота" width="200 height=150 ">
        <p>
            <button><a href="http://127.0.0.1:8000/basket">
                 Выбрать
            </a>
            </button>
        </p>
        <h3> Фридсбургские ворота :</h3>
        <img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_666d8cc3839ff17f46a35c00_666d8ed9402b14185809d8fa/scale_1200"
             alt="Фридсбургские ворота" width="200 height=150 ">
        <p>
            <button><a href="http://127.0.0.1:8000/basket">
                Выбрать
            </a>
            </button>
        </p>
        <br>
        <button>  </a>
            <a href="http://127.0.0.1:8000">
                <h3> В начало пути </h3>
            </a>
        </button>
    </ul>

    <div/>


</body>
</html>